
      <div id="<%= dom_id property %>">
        <div class="relative">
          <div class="relative h-72 w-full overflow-hidden rounded-lg">
          <% if property.images.present? %>
            <%= image_tag property.images.first, class: "h-full w-full object-cover object-center", alt: "property" %>
          <% else %>
            <%= image_tag "unsplash_placeholder.jpg", class: "h-full w-full object-cover object-center", alt: "Unsplash Placeholder" %>
          <% end %>
          </div>
          <div class="relative mt-4">
            <%=link_to property_path(property) do %>
            <h3 class="text-sm font-medium text-gray-900"><%= property.name %></h3>
            <% end %>
            <p class="mt-1 text-sm text-gray-500"><%= property.location %></p>
            <p class="relative text-sm text-gray-500"><%= property.plot_size %>msq</p>
          </div>
          <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
            <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
            <p class="relative text-lg font-semibold text-white">N<%= property.price %></p>
          </div>
        </div>
        <div class="mt-6">
        <%= link_to "Add to Cart", add_to_cart_property_path(@property), method: :post %>
        <%#= button_to 'Add to Cart', add_to_cart_carts_path(property_id: property.id), method: :post, class: "relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200" %>
        </div>
      </div>



