<div class="bg-white">

  <main class="isolate">
    <!-- Hero section -->
    <%= render "pages/hero" %>
    <!-- Show a few ptoperties... -->
<div class="bg-white py-12 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">JossyLee Home and Properties</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">You Surest Answer to Sustainable, Decent and Affordable Housing. </p>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
        <% @properties.each do |property|%>
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <% if property.images.present? %>
              <%= image_tag property.images.first, class: "absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover", alt: "property" %>
            <% else %>
              <%= image_tag "unsplash_placeholder.jpg", class: "absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover", alt: "Unsplash Placeholder" %>
            <% end %>
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"><%= property.created_at.strftime("%B %d, %Y") %></time>
              <p class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"><%= property.property_type.humanize %></p>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                  <%=link_to property_path(property) do %>
                    <%= property.name %>
                  <% end %>
              </h3>
              <% property_descr_words = property.description.to_plain_text.split(' ') %>
                <% truncated_body = property_descr_words[0..15].join(' ') %>
                <%= truncated_body %>
                <span class="inline-block bg-gray-200 rounded-full mx-2 px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                    <%= link_to "View property", property, class:"text-sm no-underline" %>
                </span>
            </div>
            <div class="mt-6 flex border-t border-b border-gray-900/5 pt-6 pb-2">
              <div class="relative flex items-center gap-x-4">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <p>
                      <%= property.owner_agent %> 
                    </p>
                    <p>
                      <%= number_to_currency(property.price, unit: '₦')%>
                    </p>
                  </p>
                  <p class="text-gray-600"><%= property.property_status.humanize %></p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <% end %>
        <div class="mt-4">
          <%=link_to "See more", properties_path, class:"block w-full rounded-md bg-deep-navy-blue px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-deep-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
        </div>



      </div>
    </div>
  </div>
</div>
<div class="bg-white py-12 sm:py-18">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900">Contact Us.</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">For inquiries, collaborations, or to explore our current projects, please visit our any of our offices or reach out to us via any of the numbers below.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4">
      <div>
        <h3 class="border-l border-indigo-600 pl-6 font-semibold text-gray-900">Abuja</h3>
        <address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
          <p>Suite 100,De Avalon Plaza,Plot 483, Ajose Adeogun Street,</p>
          <p>Obafemi Awolowo Way, Opposite Kia motors, Utako District, Abuja.</p>
          <p>Contact: +2348155088707</p>
        </address>
      </div>
      <div>
        <h3 class="border-l border-indigo-600 pl-6 font-semibold text-gray-900">Port Harcourt</h3>
        <address class="border-l border-gray-200 pl-6 pt-2 not-italic text-gray-600">
          <p>East/West Road Rumuosi. </p>
          <p>Contact: 09014991712</p>
        </address>
      </div>

    </div>
  </div>
</div>
