<div id="<%= dom_id project %>">
 <div >
  <div >
    <div >
      <% if params[:action] == "index" %>
       <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <% if project.attachments.any? && project.attachments.first.content_type.start_with?("image") %>
              <%= image_tag url_for(project.attachments.first), alt: "project-image", class: "absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover" %>
            <% else %>
              <video id="profile-video" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover" controls>
                <source src="<%= url_for(project.attachments.first) %>" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <button class="flex items-center justify-center rounded-sm" id="play-button">Play Button</button>
            <% end %>
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500"><%= project&.start_date.strftime("%B %d, %Y") %> - <%= project&.end_date.strftime("%B %d, %Y") %></time>
              <p class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"><%= project&.category %></p>
            </div>
            <div class="group relative max-w-xl">
              
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <%=link_to project_path(project) do %>
                  <span class="absolute inset-0"></span>
                      <%= project.name %>   
                <% end %>
              </h3>
              
              <% project_descr_words = project.description.to_plain_text.split(' ') %>
                <% truncated_body = project_descr_words[0..15].join(' ') %>
                <%= truncated_body %>
                <span class="inline-block bg-gray-200 rounded-full mx-2 px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                    <%= link_to "Read More", project, class:"text-sm no-underline" %>
                </span>
            </div>
            <div class="mt-2 flex border-b pb-2 border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                     Project Location: <%= project&.location %>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <%end%>

      <% if params[:action] == "show" %>
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
        <% if project.attachments.present? %>
            <video id="profile-video" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]" controls>
                  <source src="<%= url_for(project.attachments.first) %>" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
            <button id="play-button">Play Button</button>
        <% else %>
          <%= image_tag "unsplash_placeholder.jpg", class: "aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]", alt: "Unsplash Placeholder" %>
        <% end %>
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="mt-8 flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500"><%= project&.start_date.strftime("%B %d, %Y") %></time> - <time datetime="2020-03-16" class="text-gray-500"><%= project&.end_date.strftime("%B %d, %Y") %></time>
            <p class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"><%= project&.category %></p>
          </div>
          <div class="group relative">
              <%=link_to project_path(project) do %>
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"><%= project.name %> <span class="absolute inset-0"></span></h3>
              <% end %>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"><%= project&.description %></p>
          </div>
        </div>
      </article>
      <%end%>
    </div>
  </div>
</div>

</div>

<script>
  const video = document.getElementById('profile-video');
  const playButton = document.getElementById('play-button');

  playButton.addEventListener('click', () => {
    if (video.paused) {
      video.play();
      playButton.textContent = 'Pause';
    } else {
      video.pause();
      playButton.textContent = 'Play';
    }
  });
</script>




