<!DOCTYPE html>
<html>
  <head>
    <title>JossyleeEstate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag 'favicon1.ico' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col min-h-screen m-0">
    <main class="flex-1">
          <%= render "shared/topnav" %>
          
          <%= render "shared/alerts" %>
        <div class="flex mx-auto min-h-full flex-col justify-center lg:px-8">
          <%= yield %>
        </div>
    </main>
        <footer class="flex-shrink mt-4">
          <%= render "shared/footer"%>
        </footer>
  </body>
</html>
